* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  width: 100%;
  height: calc(100vh - 60px);
  overflow: hidden;
}

.sidebar {
  width: 250px;
  transition: width 0.3s ease;
  background: #cccccc;
  border-right: 1px solid #ccc;
  height: calc(100vh - 60px);
  flex-shrink: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.toggle-icon {
  display: none;
}

@media (max-width: 500px) {
  .sidebar {
    width: 80px;
  }

  .toggle-icon {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-size: 2rem;
    height: 100%;
    cursor: pointer;
    background: #ccc;
  }

  .sidebar.open {
    width: 100%;
  }

  .sidebar.closed {
    width: 100%;
  }

  .sidebar.open .toggle-icon {
    display: none;
  }
}

.close-button {
  position: absolute;
  top: 50px;
  right: 15px;
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  color: #333;
  z-index: 1;
}

.close-button:hover {
  color: red;
}

@media (min-width: 500px) {
  .close-button {
    display: none;
  }
}
